{% extends "base.html" %}{% load floppyforms %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block title %}Criar Votação{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}Criar Votação{% endblock %}</h1><br>
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form}}
                <div class="control-group">
                    <br>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">Criar</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% block extra_javascript %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.datepicker-pt-BR.js' %}"></script>
<script>
  $(function() {
    $("#id_initial_date, #id_ranking_date, #id_final_date").datepicker({
        showOn: "button",
        buttonImage: "{% static 'images/calendario.gif' %}",
        buttonImageOnly: true,
        buttonText: "Selecione a data"
    });
  });
</script>

{% endblock extra_javascript %}
{% endblock %}