{% extends "base.html" %}{% load crispy_forms_tags %}
{% block title %}Adicionar Voto{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}Votar no {{poll}}{% endblock %}</h1>
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Confirmar Voto</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}