{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-md-12">

<h1 style="text-align: center;"><strong>Associa&ccedil;&atilde;o de Boardgames de Teresina-PI</strong></h1>

<h2 style="text-align: center;"><br />
ESTATUTO SIMPLIFICADO</h2>

<p style="text-align: center;">&nbsp;</p>

<h3 style="text-align: justify;">Cl&aacute;usula 1&ordf; &ndash; Da filia&ccedil;&atilde;o e desfilia&ccedil;&atilde;o</h3>

<p style="text-align: justify;">1a. O ingresso na associa&ccedil;&atilde;o somente pode se dar por meio de indica&ccedil;&atilde;o feita por membro j&aacute; integrante, sendo necess&aacute;ria a aprova&ccedil;&atilde;o do indicado pela unanimidade dos filiados &agrave; &eacute;poca da propositura.</p>

<p style="text-align: justify;">1b. A qualquer tempo pode ser solicitada a desfilia&ccedil;&atilde;o, a qual n&atilde;o gerar&aacute; quaisquer direitos sobre os bens adquiridos pela associa&ccedil;&atilde;o.</p>

<h3 style="text-align: justify;">Cl&aacute;usula 2&ordf; &ndash; Da taxa de filia&ccedil;&atilde;o</h3>

<p style="text-align: justify;">2a. Para o ingresso como membro efetivo da associa&ccedil;&atilde;o &eacute; requisito essencial a quita&ccedil;&atilde;o da cota pret&eacute;rita de investimentos pro rata parte.</p>

<p style="text-align: justify;">2b. A taxa de filia&ccedil;&atilde;o &eacute; calculada pela divis&atilde;o entre o somat&oacute;rio do investimento total realizado at&eacute; a data da filia&ccedil;&atilde;o e o n&uacute;mero de membros efetivos at&eacute; a data anterior ao ingresso do novo integrante. O referido somat&oacute;rio &eacute; composto de pelo menos tr&ecirc;s parcelas: a) o total dos valores nominais das despesas com os jogos adquiridos pelo grupo; b) o total das mensalidades j&aacute; vencidas na data de filia&ccedil;&atilde;o; e c) o saldo em caixa &agrave; disposi&ccedil;&atilde;o do grupo.</p>

<p style="text-align: justify;">2c. A taxa de filia&ccedil;&atilde;o dever&aacute; ser quitada preferencialmente em dinheiro e &agrave; vista, podendo ser dividida em at&eacute; doze parcelas n&atilde;o inferiores ao valor da mensalidade associativa.</p>

<p style="text-align: justify;">2d. A oferta de jogos para o abatimento ou cobertura integral da taxa de filia&ccedil;&atilde;o fica sujeita &agrave; aprova&ccedil;&atilde;o un&acirc;nime dos membros da associa&ccedil;&atilde;o, que caso a aprovem decidir&atilde;o a refer&ecirc;ncia a ser utilizada para a determina&ccedil;&atilde;o do valor do jogo aceito, podendo ser utilizadas as tabelas de pre&ccedil;os de vendedores nacionais ou internacionais, conforme a disponibilidade do jogo em territ&oacute;rio brasileiro.</p>

<h3 style="text-align: justify;">Cl&aacute;usula 3&ordf; &ndash; Da mensalidade associativa</h3>

<p style="text-align: justify;">3a. A mensalidade associativa, devida por todos os membros, e que tem por finalidade a aquisi&ccedil;&atilde;o de jogos de tabuleiro e produtos cong&ecirc;neres (expans&otilde;es, sleeves, etc) deve ser quitada em dinheiro e integralmente at&eacute; o &uacute;ltimo dia &uacute;til da compet&ecirc;ncia a que se refere, preferencialmente por dep&oacute;sito ou transfer&ecirc;ncia para conta corrente ou poupan&ccedil;a indicada por decis&atilde;o dos membros.</p>

<p style="text-align: justify;">3b. A partir da compet&ecirc;ncia julho/2015 a mensalidade associativa ser&aacute; exigida de todos os membros, sendo designados por consenso dois integrantes para a realiza&ccedil;&atilde;o dos procedimentos de organiza&ccedil;&atilde;o financeira do grupo (centraliza&ccedil;&atilde;o da coleta, cobran&ccedil;a, elabora&ccedil;&atilde;o de relat&oacute;rios de contas, etc).</p>

<p style="text-align: justify;">3c. A majora&ccedil;&atilde;o ordin&aacute;ria ou extraordin&aacute;ria do valor da mensalidade associativa depende de decis&atilde;o un&acirc;nime dos membros.</p>

<p style="text-align: justify;">3d. A mensalidade associativa constitui uma doa&ccedil;&atilde;o irretrat&aacute;vel, sendo incab&iacute;vel a sua restitui&ccedil;&atilde;o a membro que se desligue da associa&ccedil;&atilde;o ou dela seja exclu&iacute;do por decis&atilde;o un&acirc;nime dos demais em raz&atilde;o de condutas incompat&iacute;veis com o esp&iacute;rito de amizade que a rege.</p>

<h3 style="text-align: justify;">Cl&aacute;usula 4&ordf; &ndash; Da aquisi&ccedil;&atilde;o de jogos de tabuleiro e produtos cong&ecirc;neres</h3>

<p style="text-align: justify;">4a. A aquisi&ccedil;&atilde;o de jogos de tabuleiro e produtos cong&ecirc;neres constitui o objeto da presente associa&ccedil;&atilde;o, raz&atilde;o pela qual deve respeitar na medida do poss&iacute;vel as indica&ccedil;&otilde;es dos membros.</p>

<p style="text-align: justify;">4b. O procedimento de escolha dos jogos para a aquisi&ccedil;&atilde;o seguir&aacute; a metodologia da lista consorcial limitada de prioridades, a qual seguir&aacute; as seguintes etapas:</p>

<p style="text-align: justify; margin-left: 40px;">i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cada membro efetivo sugere livremente um jogo para a aquisi&ccedil;&atilde;o pelo grupo, desde que n&atilde;o se trate de um jogo colecion&aacute;vel e seu valor n&atilde;o ultrapasse o somat&oacute;rio esperado da arrecada&ccedil;&atilde;o bimestral da associa&ccedil;&atilde;o;</p>

<p style="text-align: justify; margin-left: 40px;">ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Os membros definem por consenso um prazo para que todos os integrantes possam avaliar em detalhe as sugest&otilde;es dos demais e ao final elaboram uma lista de prioridade de compra segundo seu gosto individual. Cada jogo dessa lista recebe um escore equivalente &agrave; posi&ccedil;&atilde;o em que se encontra (1 ponto para o primeiro; 2 pontos para o segundo e assim por diante);</p>

<p style="text-align: justify; margin-left: 40px;">iii)&nbsp;&nbsp;&nbsp; A seguir, uma lista de prioridades grupal &eacute; elaborada a partir dos resultados do somat&oacute;rio dos escores de cada jogo nas listas individuais. Dessa forma, o jogo com menor escore ocupa a primeira posi&ccedil;&atilde;o na lista grupal, o jogo com segundo menor escore a segunda posi&ccedil;&atilde;o e assim por diante;</p>

<p style="text-align: justify; margin-left: 40px;">iv)&nbsp;&nbsp;&nbsp; Estabelecida a lista grupal de prioridades, apenas ser&atilde;o considerados para a aquisi&ccedil;&atilde;o os seis primeiros jogos de menor escore, exclu&iacute;dos os demais, os quais podem ser reapresentados em futuras oportunidades;</p>

<p style="text-align: justify; margin-left: 40px;">v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A aquisi&ccedil;&atilde;o dos jogos seguir&aacute; ent&atilde;o a lista s&ecirc;xtupla estabelecida, em regime similar aos cons&oacute;rcios comumente oferecidos no mercado. &nbsp;</p>

<p style="text-align: justify;">4c. O procedimento de escolha de que trata o item 4b acima n&atilde;o exclui poss&iacute;veis aquisi&ccedil;&otilde;es extraordin&aacute;rias decididas pela unanimidade dos membros e que se justifiquem por lan&ccedil;amentos, financiamentos coletivos ou oportunidades mercadol&oacute;gicas incomuns.</p>

<p style="text-align: justify;">4d. A periodicidade de aquisi&ccedil;&atilde;o deve ser t&atilde;o frequente quanto o fluxo de caixa da associa&ccedil;&atilde;o possibilite, sendo no m&aacute;ximo bimestral, considerando a adimpl&ecirc;ncia dos membros e a limita&ccedil;&atilde;o de valor por jogo sugerido presente no item 4b(i).</p>

<h3 style="text-align: justify;">Cl&aacute;usula 5&ordf; &ndash; Da utiliza&ccedil;&atilde;o dos jogos de tabuleiro e produtos cong&ecirc;neres</h3>

<p style="text-align: justify;">5a. A utiliza&ccedil;&atilde;o dos jogos adquiridos com recursos da associa&ccedil;&atilde;o deve priorizar a participa&ccedil;&atilde;o dos membros, devendo o membro proponente da mesa disponibilizar primeiramente as vagas para os demais integrantes. Caso a mesa n&atilde;o seja preenchida, poder&atilde;o ser disponibilizadas as vagas remanescentes para pessoas indicadas pelo proponente.</p>

<p style="text-align: justify;">5b. Quaisquer outras situa&ccedil;&otilde;es de disponibiliza&ccedil;&atilde;o do jogo para uso diverso do estabelecido no item 5a devem ser aprovadas consensualmente pelos demais filiados.&nbsp; &lt;/p&gt;</p>

        </div>
      </div>
        
{% endblock content %}
